.DS_Store

2xSpeedAudio.xcodeproj/project.xcworkspace/xcuserdata/


2xSpeedAudio.xcodeproj/project.xcworkspace/xcshareddata/

2xSpeedAudio.xcodeproj/xcuserdata/otavio.xcuserdatad/xcdebugger/

2xSpeedAudio.xcodeproj/xcuserdata/otavio.xcuserdatad/xcschemes/

2xSpeedAudio.xcodeproj/xcuserdata/pastre.xcuserdatad/xcdebugger/
